<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>electron starter</title>
</head>

<body class="home">
    <h1 text-align="center">About electrons</h1>
    <br>
    <br>
    <h4 text-align="center">honestly, I'm so underqualified to talk about this topic but
        that's fine, we're gonna learn and I'm only displaying what I know</h4>

    <h5 text-align="center" color="blue">ok, so what exactly are they</h5>
    <p>here's a bit of a general definition:
        <br> - simply put, electrons are the negatively charged
        <br>particles found in atoms, mid 1890s, JJ Thomson began
        <br>conducting experiments... came to the conclusion that
        <br>matter in device were negative charges of electricity
        <br>carried by particles, story of the name ->
    </p>
    
    <ol>
        <li>Chemistry3, introducing inorg, org, and physical Burrows, Holman, Parsons, Pilling, Price</li>
        <li>physics in the 20th century, Suplee</li>
    </ol>
</body>

</html>