<!Doctype html>
{& extends "atomic_struct/landing.html" &}
<head>
    <meta charset="UTF-8">
    <title>Overview of the atom</title>
</head>

<body>
    <h2>ATOMS</h2>
    <h3>What exactly are they</h3>
    <p>As Joe Rosen explains in his encyclopedia on physics, atoms are
        <br>the smallest entity that can be identified in a chemical element
    <ul>
        <li>They are much smaller than the wavelength of visible light, and
            <br>therefore, cannot be seen even through the optical telescope,
            <br>an undetailed image of their structure can be seen in an electron microscope
        </li>
        <li>
            Though very difficult to see, their structure has been rather accurately
            <br>by the field of Quantum Physics, a whole other field of physics
        </li>
    </ul>
    
    </p>
    <footer>
        <h4>Sources for this page</h4>
        <ol>
            <li>Encyclopedia of Physics by Joe Rosen Ph.D, Facts in File 2004
                <br> pgs 12, 13,
            </li>
        </ol>
    </footer>
</body>